/* Reset css import */
@import url("./reset.css");
/* General styles */
html {
  scroll-behavior: smooth;
}

:root {
  --text-color1: #1a4122;
  --text-color2: grey;
  --text-color3: hsl(18, 66%, 45%);
  --text-color4: #fff;
  --text-color5: rgb(100, 123, 78);
  --padding1: 4px 1rem;
  --padding2: 4px 2rem;
}
a {
  text-decoration: none;
}

/* ===================RESPONSIVES - STYLINGS ====================== */

/* Mobile screen  */
@media screen and (min-width: 120px) and (max-width: 767px) {
  header {
    display: none;
  }
}

/* Responsive design for Tablets */
@media screen and (min-width: 768px) {
  header {
    height: 8rem;
    padding: 2rem;
    box-shadow: 2px 3px 2px gray;
    font-size: 13px;
    font-weight: 450px;
    width: 100%;
    font-family: "futura-pt", sans-serif;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hidden,
  a {
    display: flex;
    gap: 2rem;
    color: var(--text-color1);
  }
  .hidden a:hover {
    color: var(--text-color3);
  }
  .hidden > a > button {
    background-color: var(--text-color3);
    border: none;
    padding: var(--padding1);
    border-radius: 5px;
    color: var(--text-color4);
  }
  .logo {
    display: flex;
    text-align: center;
    flex-direction: column;
  }
  .logo > h3 {
    font-size: 1rem;
  }
  .logo > p {
    font-size: 10px;
    color: var(--text-color2);
  }
  /* Drop-down */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    padding: 0;
    background-color: var(--text-color4);
    z-index: 1;
    border-radius: 5px;
    width: max-content;
    padding: 10px;
    text-align: center;
  }

  .dropdown-content li {
    color: var(--text-color1);
    padding: 5px 10px;
    display: block;
    list-style: none;
    width: fit-content;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown li:hover {
    color: var(--text-color3);
  }

  /* Hero-page */
  .Hero-page .cover > .txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 4rem;
    font-family: "F37 Caslon", serif;
    align-items: center;
    filter: brightness(0) invert(1);
  }

  #myVideo,
  source {
    min-width: 100%;
    min-height: 100%;
    mix-blend-mode: color-burn;
  }

  /* About */
  .carousel-slide {
    margin-top: 7rem;
    display: flex;
    flex-direction: row;
  }
  .carousel-slide .firstlayer {
    padding: var(--padding1);
    text-align: center;
    /* margin-top: 2rem; */
    flex-wrap: wrap;
  }
  .carousel-slide .firstlayer .brand {
    font-size: 1.5rem;
    color: var(--text-color5);
    font-family: "Rustica", sans-serif;
    font-weight: lighter;
  }
  .carousel-slide .firstlayer .remarks {
    font-family: "F37 Caslon", serif;
    font-size: 80px;
    line-height: 92px;
    color: var(--text-color1);
  }
  .carousel-slide .firstlayer .rate {
    line-height: 28px;
    color: var(--text-color1);
    font-family: " futura-pt", sans-serif;
    max-width: 490px;
    margin: 30px auto 35px;
    font-weight: lighter;
  }
  .secondlayer {
    display: flex;
    width: 100%;
  }
  .secondlayer {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 12rem;
    height: 70vh;
  }
}

/* Desktop screens  */
@media screen and (min-width: 1024px) {
  header {
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .hidden > a > button {
    text-transform: uppercase;
  }
}
